.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.randomNameBtn,
.heart {
  color: #fda4ff;
  background-color: transparent;
  border: none;
  background-image: url("/heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vw;
  width: 70vw;
  max-height: 500px;
  max-width: 500px;
  animation: beatingHeart 1s infinite;
  mask-image: url("/heart.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("/heart.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  position: relative;
}

.stage2.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: none;
  /* animation: moveHeart 1s; in React we might need to handle this differently or just let it play once */
  animation: moveHeart 1s forwards;
  position: absolute;
  transform: scale(0.8) translateY(-250px);
}

.btnText {
  position: absolute;
  top: 48vh;
  color: white;
  text-transform: uppercase;
  pointer-events: none;
  font-size: 4vw;
}

.listSpinner {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  list-style-type: none;
  padding-left: 0;
  padding-top: 1.7vw; /* Align index 2 with chosenName */
  font-size: 8vw;
  text-align: center;
  color: #fcddff;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  white-space: nowrap;
}

.spinnerItem {
  height: 10vw;
  line-height: 10vw;
  animation: spinLi 2s;
  opacity: 0;
  transition-timing-function: cubic-bezier(0, 1.15, 0, 0.9);
}

.chosenName {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 8vw;
  animation: showChosen 2s;
  top: 38.1%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.stage2Name {
  position: relative;
  animation: none;
  top: -3.5vw;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-size: 1.5rem;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: var(--dark-burgundy);
  font-family: var(--main-font);
  font-size: 1rem;
  text-align: center;
}

.submitBtn,
.restartBtn {
  width: calc(100% + 4px);
  height: 50px;
  border: none;
  color: white;
  background-color: #fda4ff;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 1rem;
}

.thanks {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

.thanks p {
  font-size: 2rem;
  margin-top: -40px;
}

.inputLabel {
  background-color: #fda4ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spinLi {
  0% {
    transform: translateY(-200vh);
    opacity: 1;
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes showChosen {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveHeart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8) translateY(-250px);
  }
}
