.postitWrap {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  top: var(--y);
  left: var(--x);
}

.postit {
  padding: 0.3em;
  margin: 2px;
  font-size: 1.5vh;
  /* ~10 rows in 90vh board => 9vh per postit for 100+ fit */
  width: 9vh;
  height: 9vh;
  box-sizing: border-box;
  text-align: center;
  transform: rotate(var(--rotation));
  background-color: var(--color);
  aspect-ratio: 1;

  mask:
    radial-gradient(at 70% 31%, #000 29%, #0000 30%),
    radial-gradient(at 30% 31%, #000 29%, #0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  color: #7d0032;
}

.postit h3 {
  font-size: 1.8vh;
  font-family: var(--main-font);
  text-align: center;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.postit p {
  font-family: var(--handwriting-font);
  text-align: center;
  font-size: 1.2vh;
  margin: 0;
}
